.course-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 350px;
  padding: calc(25px + 15 * (100vw / 1920));
  border-radius: 10px;
  background-color: var(--body-color);
}

.course-card img {
  width: 57px;
}

.course-card .course-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-card .course-text h2 {
  font-size: calc(20px + 2 * (100vw / 1920));
  font-weight: bold;
  text-transform: uppercase;
}

.course-card .course-text p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  text-transform: uppercase;
}

.course-card a {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.course-card a::after {
  content: " >";
  font-weight: bold;
}

@media (max-width: 1024px) {
  .course-card {
    max-width: none;
  }
}
