.partner-container {
  width: 30%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.partner-container img {
  max-width: 300px;
  max-height: 130px;
}
