.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: var(--primary-color);
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.container div {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.container div p:first-child {
  font-size: calc(16px + 3 * (100vw / 1920));
  font-weight: 600;
}

.social_medias {
  display: flex;
  justify-content: center;
}
.social_medias .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social_medias .icons a * {
  height: 20px;
  width: 20px;
  color: var(--header-color);
}

@media (max-width: 800px) {
  .container {
    gap: 10px;
  }

  .social_medias {
    justify-content: flex-start;
  }

  .container div {
    width: 47%;
  }
}

@media (max-width: 640px) {
  .container div {
    width: 100%;
  }
}
