.intro-section {
  background-color: var(--primary-color);
  border-radius: 0 0 50px 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro-section__content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.intro-section__text-container {
  width: 65%;
}

.intro-section__image-container {
  width: 30%;
  max-width: 450px;
}

.intro-section__image-container img {
  width: 100%;
}

.intro-section__text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--header-color);
}

.intro-section__title {
  font-size: calc(25px + 25 * (100vw / 1920));
  font-weight: 800;
}

.intro-section__description {
  font-size: calc(14px + 4 * (100vw / 1920));
  font-weight: 400;
}

@media (max-width: 1024px) {
  .intro-section__content {
    padding: 30px 0;
  }
}

@media (max-width: 800px) {
  .intro-section__text-container {
    width: 100%;
  }
  .intro-section__image-container {
    width: 100%;
    max-width: 450px;
  }

  .intro-section__content {
    gap: 20px;
    justify-content: center;
  }
}
