.course-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.course-details__content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.course-details__info {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-details__program {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-details__title {
  font-size: 50px;
  font-weight: 700;
}

.course-details__text {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boldText {
  font-weight: 700;
}

.course-details__course-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-details__course-content > p {
  font-size: 13px;
}

.couse-details__sidebar {
  width: 30%;
  border-radius: 10px;
  background-color: var(--card-background-color);
}

.price-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.price-card h3 {
  font-size: 25px;
  font-weight: 800;
}

.price-card__month-cost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-card h4 {
  font-size: 40px;
  font-weight: bold;
}

.payment-option-card {
  display: flex;
  gap: 20px;
}

.payment-option-card__inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-with-dot::before {
  content: "\00b7"; /* HTML Entity для точки (•) */
  margin-right: 8px;
  font-size: 20px;
  font-weight: 900;
}
