.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 334px;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 40px;
  background-color: var(--card-background-color);
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .card-container {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  .card-container {
    max-width: none;
    width: 100%;
  }
}

.card-container img {
  width: 115px;
  height: 115px;
}

.card-container p {
  font-size: 16px;
  font-weight: 500;
  color: var(--card-text-color);
}

.card-container .text-container p {
  padding: 5px;
}

.card-container .role {
  font-size: 11px;
  color: #847373;
}
